<footer id="footer" class="row">
  <div class="col-md-4">
    <img src="{{ "assets/gbergeret-brandmark-white.svg" | relative_url }}" alt="white company logo" width="30" height="36">
  </div>

  <div class="col-md-4">
      <ul>
          <li><a href="">XX</a></li>
          <li><a href="https://docs.google.com/document/d/1EcbinSpcf63bjI1nEtlx36b3nMtwtWUBjid4ory5fZo">T&Cs</a></li>
          <li><a href="">XX</a></li>
      </ul>
  </div>

  <div class="col-md-4">
      <p>Lasdasdad</p>
  </div>
</footer>
