<nav>
  <div class="mobile-header">
    <a href="{{ site.url }}#landing-section" >
      <img src="{{ "assets/img/gbergeret-logo-fullcolor.svg" | relative_url }}" alt="fullcolor company logo" />
    </a>
    <div id="navbar-bar-icon">
      <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="2" fill="black"/>
        <rect y="12" width="28" height="2" fill="black"/>
        <rect y="23" width="28" height="2" fill="black"/>
      </svg>

    </div>
    <div id="navbar-x-icon">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1.80786" y="0.393311" width="28" height="2" transform="rotate(45 1.80786 0.393311)" fill="black"/>
        <rect x="0.393799" y="20.1924" width="28" height="2" transform="rotate(-45 0.393799 20.1924)" fill="black"/>
      </svg>
    </div>
  </div>
  <ul>
    <li class="menu-element left"><a href="{{ site.url }}#about">About Me</a></li>
    <li class="menu-element left"><a href="{{ site.url }}#services">Services</a></li>
    <li>
      <a href="{{ site.url }}#landing-section" >
        <img class="logo" src="{{ "assets/img/gbergeret-brandmark-fullcolor.svg" | relative_url }}" alt="fullcolor company logo" />
      </a>
    </li>
    <li class="menu-element right"><a href="{{ site.url }}#contact">Contact</a></li>
    <li class="menu-element right"><a href="{{ site.url }}/blog">Blog</a></li>
  </ul>
</nav>
