<nav>
  <ul>
    <li class="menu-element left"><a href="{{ site.url }}#about">About Me</a></li>
    <li class="menu-element left"><a href="{{ site.url }}#services">Services</a></li>
    <li>
      <img class="logo" src="{{ "assets/gbergeret-brandmark-fullcolor.svg" | relative_url }}" alt="fullcolor company logo" />
    </li>
    <li class="menu-element right"><a href="{{ site.url }}#contact">Contact</a></li>
    <li class="menu-element right"><a href="{{ site.url }}#blog">Blog</a></li>
  </ul>
</nav>
