/* Override detault balises */
body {
  height: 100%;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

/* CSS for Navigation Bar */
#navbar ul {
  text-align: center;
  width: 100%;
  position:fixed;
}

#navbar li {
  list-style-type: none;
  display: inline;
}

#navbar li a {
  border: 2px solid black;
  border-radius: 25px;
  display: inline-block;
  width: 8em;
  margin: 8px 15px;
  padding: 2px;
  font-size: 15px;
}

#navbar li img {
  width: 4em;
}

/* CSS for Index Page */
.banner {
  min-height: calc(98vh);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .title {
  font-size: 4em;
}

/* CSS for Website Footer */
footer {
  background-color: black;
  padding: 0px;
  min-height: 150px;
  margin: 0 auto -100px;
}

footer * {
  color: white;
}

footer #credit {
  margin: 4em auto;
  text-align: center;
}
