.preview {
  display: none !important;
}

/* Override detault balises */
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

h1,
h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.375rem;
}

ul {
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: #787878;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

/* CSS for text */

.plus:before {
  content: "+ ";
}

.text-xl {
  font-size: 2rem;
}

.text-xs {
  font-size: 0.75rem;
}

/* CSS for Navigation Bar */
nav {
  position: sticky;
  top: 0px;
  height: 4.5rem;
  padding: 1.25em;
  overflow: hidden;
  background: white;
}
nav .mobile-header {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 6.25rem;
  height: 2rem;
}

nav li {
  list-style-type: none;
  font-weight: 500;
}

nav li.menu-element a {
  display: inline-block;
  width: 6.25rem;
  padding: 2px;
  color: #787878;
  border: 2px solid transparent;
}

nav li.menu-element a:hover {
  color: black;
  border: 2px solid black;
  border-radius: 25px;
}


nav li:not(.menu-element) {
  display: none;
  width: 20px;
}

nav .logo {
  height: 2rem;
}

@media only screen and (max-width: 768px) {
  nav {
    background: white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s linear 0s;
    display: flex;
    flex-direction: column;
    padding: 1.25rem 2rem
  }

  nav ul {
    display: none;
  }

  nav li:not(.menu-element) {
    display: none;
  }

  nav .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
  }

  nav .mobile-header img, nav .mobile-header svg {
    height: 2rem;
  }

  #navbar-x-icon{
    display: none;
  }

  nav.open {
    transition: all 0.5s ease-in-out 0s;
    height: 100vh;
  }

  nav.open #navbar-x-icon{
    display: block;
  }

  nav.open #navbar-bar-icon{
    display: none;
  }

  nav.open ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.75rem
  }

  nav li {
    font-size: 2rem;
  }

  nav li.menu-element a {
    width: 11rem;
  }
}
/* CSS for Index Page */

.banner {
  min-height: calc(100vh - 4.5rem);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .title {
  text-align: center;
  font-size: 4.375rem;
}

/* CSS for Website Footer */
footer {
  background-color: black;
}

footer p {
  margin: 0;
}

footer *, footer a:hover {
  color: white;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  padding: 4em 8em;
  margin: auto;
  max-width: 1600px;
  line-height: 1.4;
}

#footer > div {
  flex-basis: 31%;
}

#footer #company-socials {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#footer #social-icons{
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  color: white
}

#footer #social-icons svg{
  width: 1.5rem;
  height: 1.5rem;
}

#footer #social-icons svg path{
  fill: currentColor
}

#footer .logo {
  width: 7.75rem;
}

#footer .logo-mobile {
  height: 2rem;
  display: none;
}

#company-details a, #credit a {
  text-decoration: underline;
}

#company-legals{
  min-width: 10rem;
}

#company-details {
  min-width: 18.5rem;
}

#credit {
  padding: 0.5em;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #footer {
    padding: 3em 6em;
  }
}
@media only screen and (max-width: 768px) {

  #footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
    max-width: 1600px;
    line-height: 1.4;
  }

  #footer #company-socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  #footer .logo{
    display: none;
  }

  #footer .logo-mobile {
    display: inline-block;
    height: 3rem;
  }

  #company-details {
    min-width: 10rem;
  }

  #credit {
    padding: 0rem 2em 2rem 2rem;
    text-align: left;
    font-size: 14px;
  }
}
