<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/svg+xml" media="(prefers-color-scheme: light)" href="/assets/gbergeret-brandmark-fullcolor.svg" />
    <link rel="icon" type="image/svg+xml" media="(prefers-color-scheme: dark)" href="/assets/gbergeret-brandmark-white.svg" />
    <style type="text/css" media="screen">
      h1 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
