<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div id="blog-post" class="page wrapper">
      <div id="blog-head">
        {% if page.cover.original != nil %}
        <div class="image">
          <img src="{{ page.cover.original | relative_url }}" alt="{{ page.cover.alt }}">
        </div>
        {% endif %}

        <h1>{{ page.title }}</h1>

        <div id="blog-meta">
          <div id="blog-date">
            {{ page.date | date: "%b %d, %Y" }}
          </div>
          <div class="reading-time">
            {{ page.reading_time }} min read
          </div>
        </div>
      </div>
      <div id="blog-content">
        {{ content }}
        <div id="blog-authors">
          <p id="written-by">Written by:</p>

          <div class="wrap">
          {% assign authors_count = page.authors | size %}
          {% for author in page.authors %}
            <div class="author">
              <div class="profile" \
                style="background-image:url('{{author.picture}}')"></div>
              <div class="name">
                <h3>{{ author.name }}</h3>
                <span class="job-title">{{ author.title }}</span>
              </div>
            </div>

            {% if authors_count > 1 and  forloop.last == false %}
              <div class="x">
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.68005 0.368896L18.18 15.8689L16.2949 17.754L0.794923 2.25403L2.68005 0.368896Z" fill="#D9D9D9"/>
                <path d="M18.18 2.25403L2.68005 17.754L0.794922 15.8689L16.2949 0.368896L18.18 2.25403Z" fill="#D9D9D9"/>
                </svg>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div id="blog-preview" class="wrapper">
      {% include blog-preview.html %}
    </div>
    {% include footer.html %}
  </body>
</html>

